<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  {% if clients.size > 0 %}
    <b>Current Clients</b>
    <br />
    {% for client in clients %}
      <p>{{ client[0] }}</p>
      <br />
    {% endfor %}
  {% else %}
    No clients connected
  {% endif %}
  <br />
  Skin <select name="skin" onchange="window.location = './skin?s=' + this.options[this.selectedIndex].value">
  {% assign skins = "Por Defecto,Gris,Neon,Chino,Carreras" | split: ',' %}
  {% for s in (0..skins.size) limit: skins.size %}
    <option value="{{ s }}"{% if skin == s %} selected{% endif %}>{{ skins[s] }}</option>
  {% endfor %}
  </select>
  <br />
  <input type="button" value="Sortear" onclick="window.location = './raffle'" />
</body>
</html>